@model Employee
@{
    ViewData["Title"] = "Editar Funcionário";
}

<h1>Editar Funcionário</h1>

<form asp-action="Edit" method="post">
	<div>
		<label for="Name">Nome</label>
		<input type="text" id="Name" name="Name" asp-for="Name" />
	</div>
	<div>
		<label for="Role">Cargo</label>
		<input type="text" id="Role" name="Role" asp-for="Role" />
	</div>
	<div>
		<label for="AdmissionDate">Data de Admissão</label>
		<input type="date" id="AdmissionDate" name="AdmissionDate" asp-for="AdmissionDate" />
	</div>
	<div>
		<label for="Paycheck">Salário</label>
		<input type="number" step="0.01" id="Paycheck" name="Paycheck" asp-for="Paycheck" />
	</div>
	<div>
		<label for="IsActive">Status</label>
		<select id="IsActive" name="IsActive" asp-for="IsActive">
			<option value="true">Ativo</option>
			<option value="false">Inativo</option>
		</select>
		<span asp-validation-for="IsActive" class="text-danger"></span>
	</div>
	<button type="submit">Salvar</button>
	<a asp-controller="Home" asp-action="Index" class="btn">Cancelar</a>
</form>